body {
  background: #f8fafc;
}
header {
  background: white;
}
html {
  overflow-x: hidden;
}
@font-face {
  font-family: SweiSpringCJKtc-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringCJKtc-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/swei-spring@1.065/WebFont/CJK%20TC/SweiSpringCJKtc-Regular.woff) format("woff");
}
@font-face {
  font-family: TaiwanPearl-Regular;
  src: url(https://cdn.jsdelivr.net/gh/max32002/TaiwanPearl@2.125/webfont/TaiwanPearl-Regular.woff2) format("woff2"), url(https://cdn.jsdelivr.net/gh/max32002/TaiwanPearl@2.125/webfont/TaiwanPearl-Regular.woff) format("woff");
}
.swei-font {
  font-family: "SweiSpringCJKtc-Regular", sans-serif;
}
.taiwanPearl {
  font-family: "TaiwanPearl-Regular", sans-serif;
}
/* Home Page */
.theme-container {
  /*1290*/
  width: 1330px;
  padding: 0 20px;
}
.hero-area {
  height: calc(80vh - 140px);
}
.hero-image {
  background-position: 100% center;
}
.lawyers-section .swiper-slide,
.testimonial-section .swiper-slide {
  height: auto;
}
.lawyers-section .swiper-slide > div,
.testimonial-section .swiper-slide > div {
  height: 100%;
}

.lawyers-section .swiper-button-prev:after,
.testimonial-section .swiper-button-prev:after {
  content: "";
}
.lawyers-section .swiper-button-next:after,
.testimonial-section .swiper-button-next:after {
  content: "";
}
.lawyers-section .swiper-button-prev,
.testimonial-section .swiper-button-prev {
  position: unset;
}
.lawyers-section .swiper-button-next,
.testimonial-section .swiper-button-next {
  position: unset;
}
.lawyers-swiper .swiper-pagination {
  top: auto;
  bottom: -60px;
}
.lawyers-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #e3e3e3;
}
.lawyers-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2e318e;
}
.gear {
  animation: rotate 110s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
.footer-shape {
  right: -302px;
  top: -160px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* About Page*/
.about-us-page-wrapper .process-section .item .circle-shape {
  background: #fbf7ed;
  transition: all 0.5s ease-in-out;
}
.process-section .item .circle-shape {
  background: #e6edec;
  transition: all 0.5s ease-in-out;
}
.page-title-wrapper {
  background-image: url(./../img/public/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mini-contact {
  background-color: #2e318e;
  /* background-image: url(./../img/min-contact-bg.png); */
  background-size: cover;
  background-repeat: no-repeat;
}
.breadcrumb-wrapper .breadcrumb-item:last-child .ico {
  display: none;
}

/*====================*/
.navigation-wrapper.sticky {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1010;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.058823529411764705);
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
}

@keyframes sticky {
  0% {
    top: -200px;
  }

  100% {
    top: 0;
  }
}
.nav-wrapper ul li {
  position: relative;
}
.nav-wrapper.mobile-nav-wrapper ul li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(231 231 231);
}
.nav-wrapper.mobile-nav-wrapper ul li ul {
  margin-left: 16px;
}
.nav-wrapper ul li ul {
  position: absolute;
  left: -10px;
  min-width: 200px;
  border-radius: 10px;
  background: white;
  padding: 10px 0;
  box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
  display: none;
  z-index: 99;
}
.nav-wrapper.mobile-nav-wrapper ul li ul {
  position: unset;
  left: -10px;
  display: none;
  z-index: 99;
  box-shadow: none;
  padding: 0;
  margin-top: 10px;
}
.nav-wrapper ul li:hover ul {
  display: block;
  animation: tabFade 0.5s;
}
.nav-wrapper ul li ul li a {
  padding: 5px 20px;
  color: #2e318e;
  transition: all 0.5s ease-in-out;
}
.nav-wrapper ul li ul li:hover a {
  padding-left: 30px;
  color: #2e318e;
}
.nav-wrapper ul li ul li {
  position: relative;
}
.nav-wrapper ul li ul li:before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #2e318e;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  transition: all 0.5s ease-in-out;
}
.nav-wrapper ul li ul li:hover:before {
  width: 20px;
}
/* line button */
.button-outer-circle,
.button-outer-circle {
  background: hsl(133.4deg 73.02% 15.02% / 20%);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.has-scale-animation,
.has-delay-short {
  -webkit-animation: smallScale 3s infinite;
  animation: smallScale 3s infinite;
}
.has-delay-short {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes smallScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
/* line pop */
.popv-main-wrapper {
  display: none;
}
.popv-main-wrapper.active {
  display: block;
}
.popv-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  z-index: 998;
}

.popv-content {
  z-index: 999;
}
.popv-close {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.popv-hide {
  display: none !important;
}
button.popv-close {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.popv-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #3f3f3f;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.popv-close:hover,
.popv-close:focus {
  opacity: 1;
}

.popv-close:active {
  top: 1px;
}

.popv-close-btn-in .popv-close {
  color: #333;
}
/*=====mobile=====*/
.nav-wrapper .mobile-drawer .mobile-wid {
  left: -350px;
  transition: all 0.5s linear;
}
.nav-wrapper .mobile-drawer.active .mobile-wid {
  left: 0;
}
.nav-wrapper .mobile-drawer .drawer-away {
  display: none;
  animation: tabFade 0.5s;
}
.nav-wrapper .mobile-drawer.active .drawer-away {
  display: block;
}
/*nav end*/

.search-bar-wrapper .search-form {
  display: none;
  animation: tabFade 0.5s;
}
.search-bar-wrapper:focus-within .search-form {
  display: block;
}
@keyframes tabFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*responsive*/

@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .hero-area {
    height: 600px;
  }
  .theme-container {
    /*1290*/
    width: auto;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .hero-image {
    background-position: 70% center;
  }
}
@media (max-width: 640px) {
  .hero-image {
    background-position: 50% center;
  }
}
@media (max-width: 320px) {
  html {
    overflow-x: hidden;
  }
}

/*responsive end*/
/* admin */
.notify-wrap .notify-content {
  display: none;
  animation: tabFade 0.5s;
}
.notify-wrap:focus-within .notify-content {
  display: block;
}
.user-wrap .user-content {
  display: none;
  animation: tabFade 0.5s;
}
.user-wrap:focus-within .user-content {
  display: block;
}
