body {
  background: white;
}
html {
  overflow-x: hidden;
}
/* About Page*/
.about-shape {
  border: 2px dashed #004c3f;
  border-radius: 50%;
  top: 63px;
  position: absolute;
  left: 185px;
}
.about-shape:before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: #028835;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 7.5px);
  top: -7.5px;
}

/* Home Page */
.theme-container {
  /*1290*/
  width: 1330px;
  padding: 0 20px;
}
.hero-area {
  height: calc(100vh - 140px);
}
.hero-image {
  background-position: 100% center;
}
.lawyers-section .swiper-slide,
.testimonial-section .swiper-slide {
  height: auto;
}
.lawyers-section .swiper-slide > div,
.testimonial-section .swiper-slide > div {
  height: 100%;
}

.lawyers-section .swiper-button-prev:after,
.testimonial-section .swiper-button-prev:after {
  content: "";
}
.lawyers-section .swiper-button-next:after,
.testimonial-section .swiper-button-next:after {
  content: "";
}
.lawyers-section .swiper-button-prev,
.testimonial-section .swiper-button-prev {
  position: unset;
}
.lawyers-section .swiper-button-next,
.testimonial-section .swiper-button-next {
  position: unset;
}
.lawyers-swiper .swiper-pagination {
  top: auto;
  bottom: -60px;
}
.lawyers-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #e3e3e3;
}
.lawyers-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2e318e;
}
.gear {
  animation: rotate 110s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
.footer-shape {
  right: -302px;
  top: -160px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* 整理到這 */

.about-us-page-wrapper .process-section .item .circle-shape {
  background: #fbf7ed;
  transition: all 0.5s ease-in-out;
}
.process-section .item .circle-shape {
  background: #e6edec;
  transition: all 0.5s ease-in-out;
}
/* .process-section .discover-area {
  background-image: url(./../img/discover-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
} */
.page-title-wrapper {
  background-image: url(./../img/public/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.mini-contact {
  background-image: url(./../img/min-contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.breadcrumb-wrapper .breadcrumb-item:last-child .ico {
  display: none;
}
.testimonial-section .swiper-pagination {
  top: auto;
  bottom: -60px;
}
.testimonial-section .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background: #e3e3e3;
}
.testimonial-section .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #2e318e;
}
.faq-page-wrapper .faq-item .faq-body {
  display: none;
}
.faq-page-wrapper .faq-item:nth-child(1) .faq-body {
  display: block;
}
.faq-page-wrapper .faq-item:focus-within .faq-body {
  display: block;
}

/*====================*/
.navigation-wrapper.sticky {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1010;
  background: #fff;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.058823529411764705);
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-animation: sticky 1.2s;
  animation: sticky 1.2s;
}
.navigation-wrapper.navigation-wrapper-two-two.sticky {
  background: #004c3f;
}

@keyframes sticky {
  0% {
    top: -200px;
  }

  100% {
    top: 0;
  }
}
.nav-wrapper ul li {
  position: relative;
}
.nav-wrapper.mobile-nav-wrapper ul li a {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  padding: 10px 0;
  border-bottom: 1px solid rgb(231 231 231);
}
.nav-wrapper.mobile-nav-wrapper ul li ul {
  margin-left: 16px;
}
.nav-wrapper ul li ul {
  position: absolute;
  left: -10px;
  min-width: 200px;
  border-radius: 10px;
  background: white;
  padding: 10px 0;
  box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
  display: none;
  z-index: 99;
}
.nav-wrapper.mobile-nav-wrapper ul li ul {
  position: unset;
  left: -10px;
  display: none;
  z-index: 99;
  box-shadow: none;
  padding: 0;
  margin-top: 10px;
}
.nav-wrapper ul li:hover ul {
  display: block;
  animation: tabFade 0.5s;
}
.nav-wrapper ul li ul li a {
  padding: 5px 20px;
  color: #004c3f;
  transition: all 0.5s ease-in-out;
}
.nav-wrapper ul li ul li:hover a {
  padding-left: 30px;
  color: #004c3f;
}
.nav-wrapper ul li ul li {
  position: relative;
}
.nav-wrapper ul li ul li:before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #028835;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  transition: all 0.5s ease-in-out;
}
.nav-wrapper ul li ul li:hover:before {
  width: 20px;
}
/*====================*/
.nav-wrapper.nav-wrapper-2 ul li {
  position: relative;
}
.nav-wrapper.nav-wrapper-2 ul li ul {
  position: absolute;
  left: -10px;
  min-width: 200px;
  border-radius: 10px;
  background: white;
  padding: 10px 0;
  box-shadow: 11px 10px 38px 0 rgba(46, 63, 99, 0.15);
  display: none;
}
.nav-wrapper.nav-wrapper-2 ul li:hover ul {
  display: block;
}
.nav-wrapper.nav-wrapper-2 ul li ul li a {
  padding: 5px 20px;
  color: #004c3f;
  transition: all 0.5s ease-in-out;
}
.nav-wrapper.nav-wrapper-2 ul li ul li:hover a {
  padding-left: 30px;
  color: #004c3f;
}
.nav-wrapper.nav-wrapper-2 ul li ul li {
  position: relative;
}
.nav-wrapper.nav-wrapper-2 ul li ul li:before {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #028835;
  position: absolute;
  left: 0;
  top: calc(50% - 2px);
  transition: all 0.5s ease-in-out;
}
.nav-wrapper.nav-wrapper-2 ul li ul li:hover:before {
  width: 20px;
}
/*=====mobile=====*/
.nav-wrapper .mobile-drawer .mobile-wid {
  left: -350px;
  transition: all 0.5s linear;
}
.nav-wrapper .mobile-drawer.active .mobile-wid {
  left: 0;
}
.nav-wrapper .mobile-drawer .drawer-away {
  display: none;
  animation: tabFade 0.5s;
}
.nav-wrapper .mobile-drawer.active .drawer-away {
  display: block;
}
/*nav end*/

.search-bar-wrapper .search-form {
  display: none;
  animation: tabFade 0.5s;
}
.search-bar-wrapper:focus-within .search-form {
  display: block;
}

.faq-section-main-wrapper .faq-two {
  box-shadow: 0 4px 24px -6px rgba(19, 16, 34, 0.1), 0 4px 13px -2px rgba(19, 16, 34, 0.06);
}

/*popv component*/
.popv-main-wrapper {
  display: none;
}
.popv-main-wrapper.active {
  display: block;
}
.popv-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

.popv-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.popv-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

.popv-container:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.popv-align-top .popv-container:before {
  display: none;
}

.popv-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

.popv-inline-holder .popv-content,
.popv-ajax-holder .popv-content {
  width: 100%;
  cursor: auto;
}

.popv-ajax-cur {
  cursor: progress;
}

.popv-zoom-out-cur,
.popv-zoom-out-cur .popv-image-holder .popv-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

.popv-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.popv-auto-cursor .popv-content {
  cursor: auto;
}

.popv-close,
.popv-arrow,
.popv-preloader,
.popv-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.popv-loading.popv-figure {
  display: none;
}

.popv-hide {
  display: none !important;
}

.popv-preloader {
  color: #ccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

.popv-preloader a {
  color: #ccc;
}

.popv-preloader a:hover {
  color: #fff;
}

.popv-s-ready .popv-preloader {
  display: none;
}

.popv-s-error .popv-content {
  display: none;
}

button.popv-close,
button.popv-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.popv-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #fff;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace;
}

.popv-close:hover,
.popv-close:focus {
  opacity: 1;
}

.popv-close:active {
  top: 1px;
}

.popv-close-btn-in .popv-close {
  color: #333;
}

.popv-image-holder .popv-close,
.popv-iframe-holder .popv-close {
  color: #fff;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.popv-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #ccc;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.popv-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent;
}

.popv-arrow:active {
  margin-top: -54px;
}

.popv-arrow:hover,
.popv-arrow:focus {
  opacity: 1;
}

.popv-arrow:before,
.popv-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

.popv-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

.popv-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.popv-arrow-left {
  left: 0;
}

.popv-arrow-left:after {
  border-right: 17px solid #fff;
  margin-left: 31px;
}

.popv-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3f3f3f;
}

.popv-arrow-right {
  right: 0;
}

.popv-arrow-right:after {
  border-left: 17px solid #fff;
  margin-left: 39px;
}

.popv-arrow-right:before {
  border-left: 27px solid #3f3f3f;
}

.popv-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px;
}

.popv-iframe-holder .popv-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

.popv-iframe-holder .popv-close {
  top: -40px;
}

.popv-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

.popv-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.popv-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto;
}

/* The shadow behind the image */
.popv-figure {
  line-height: 0;
}

.popv-figure:after {
  content: "";
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444;
}

.popv-figure small {
  color: #bdbdbd;
  display: block;
  font-size: 12px;
  line-height: 14px;
}

.popv-figure figure {
  margin: 0;
}

.popv-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

.popv-title {
  text-align: left;
  line-height: 18px;
  color: #f3f3f3;
  word-wrap: break-word;
  padding-right: 36px;
}

.popv-image-holder .popv-content {
  max-width: 100%;
}

.popv-gallery .popv-image-holder .popv-figure {
  cursor: pointer;
}
@keyframes tabFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.shake {
  animation: shake 5000ms infinite;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  8.0% {
    transform: rotate(0deg);
  }
  12.0% {
    transform: rotate(42deg);
  }
  16.0% {
    transform: rotate(-35deg);
  }
  20.0% {
    transform: rotate(0deg);
  }
  23.0% {
    transform: rotate(28deg);
  }
  26.0% {
    transform: rotate(-20deg);
  }
  29.0% {
    transform: rotate(0deg);
  }
  31.0% {
    transform: rotate(16deg);
  }
  33.0% {
    transform: rotate(-12deg);
  }
  35.0% {
    transform: rotate(0deg);
  }
  37.0% {
    transform: rotate(-6deg);
  }
  39.0% {
    transform: rotate(0deg);
  }
  40.0% {
    transform: rotate(6deg);
  }
  44.0% {
    transform: rotate(-3deg);
  }
  49.0% {
    transform: rotate(2deg);
  }
  55.0% {
    transform: rotate(0deg);
  }
  62.0% {
    transform: rotate(1deg);
  }
  70.0% {
    transform: rotate(0deg);
  }
}

.button-outer-circle,
.button-outer-circle {
  background: hsl(133.4deg 73.02% 15.02% / 20%);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
}
.has-scale-animation,
.has-delay-short {
  -webkit-animation: smallScale 3s infinite;
  animation: smallScale 3s infinite;
}
.has-delay-short {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

@keyframes smallScale {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
/*responsive*/

@media (max-width: 1536px) {
}
@media (max-width: 1280px) {
}
@media (max-width: 1024px) {
  .hero-area {
    height: 600px;
  }
  .theme-container {
    /*1290*/
    width: auto;
    padding: 0 20px;
  }
}

@media (max-width: 768px) {
  .hero-image-1 {
    background-position: 70% center;
  }
}
@media (max-width: 640px) {
  .hero-image-1 {
    background-position: 50% center;
  }
  .faq-section-main-wrapper .faq-two {
    box-shadow: none;
  }
  .about-shape {
    top: 50px;
    left: 100px;
  }
}
@media (max-width: 320px) {
  html {
    overflow-x: hidden;
  }
}

/*responsive end*/
